.card {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f1f3f4;
}


.card-content {
  background-color: white;
  position: relative;
  flex: 0 0 auto;
  width: 300px;
  height: 300px;
  margin: 20px;
  box-shadow: 7px 4px 25px -9px rgba(0,0,0,0.3);
  border-radius: 9px;
  display: flex;
  flex-direction: row;
}

.card-content:hover {
  background-color: #f1f3f4;
}

.card-description {

  position: absolute;
  bottom: 45px;
  left: 20px;
  font-size: 22px;
  font-weight: lighter;
  margin-left: 16px;
  flex: 0 0 auto;

  .card-text{
    color: #8db1ab;
  }

  .card-text:hover{
    text-decoration: none;
    opacity: 0.8;
  }
}


.card-img {
  width: 200px;
  height: 180px;
  margin: 16px;
  opacity: 0.7;
  position: absolute;
  left: 15px;
  border-radius: 2px;
}

.single-img {
  width: 200px;
  height: 180px;
  margin: 16px;
  opacity: 0.7;
  margin-left:50px;
  border-radius: 8px;
}



.review-text {
  color: #bbbbbb;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 16px;
  font-weight: bold;
  margin-left: 16px;
}

.fa-plus-square{
  color: #f2ed6f;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  right: 20px;
  opacity: 0.8;
}








.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}


.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
