.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.notification-form {
  background: #f1f3f4;
  align: center;
  margin-left: 450px;
  padding: 20px;
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}

 .notification .card-text{
    color: #8db1ab;
  }

 .notification .card-text:hover{
    text-decoration: none;
    opacity: 0.8;
  }

.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}

.link-text {
  color: gray;
}

.link-text:hover {
  color: gray;
  opacity: 0.7;
  text-decoration: none;
}
.fa-comments {
  font-size: 18px;
  color: #8db1ab;
}

.notification-content .fa-plus-square {
  position: absolute;
  left: 380px;
  bottom: -55px;
}

.fa-star {
  color: #f2ed6f;
}
